<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Statistics</title> 
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="weather.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/weather.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
   <!-- Chart.js JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Bootstrap js for this page -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>



  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/mini-logo.png' %}" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/"><img src="{% static 'images/logo.png'  %}" class="mr-2" alt="logo"/></a>
        </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statics">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Statics</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Add Sensors</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Settings</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <!-- content-wrapper ends -->
        <h2 align="center"  style="margin-top:20px;">Statistics</h2>
            
      <div style="float:left; width:700px; margin-left:15%; margin-top:30px;">
        <canvas id="myChart"></canvas>
      </div>
      <div style="float:left; width:700px; margin-left:15%;">
        <canvas id="myChart2"></canvas>
      </div>




  <script>
    var xValues = [2,3,4,5,6,7,8,9,10,11,12];
    var yValues = [150,250,200,220,310,450,400,480,510,500,490];
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
            label:"Sensor 1",
          fill: false,
          borderColor: "blue",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>





    <!--just dummy javascript for static graphs-->
  <script>
    var xValues = [2,3,4,5,6,7,8,9,10,11,12];
    var yValues = [120,330,440,222,290,360,660,555,444,777,666];
    
    new Chart("myChart2", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
            label:"Sensor 2",
          fill: false,
          borderColor: "blue",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>

    <!--End dummy javascript-->

  <!-- container-scroller -->

  <script src="{% static 'js/dataTables.select.min.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>

</body>

</html>